{% extends 'base.html' %}


{% load static %}

{% block content %}


 <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1487273058443 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="insight-team-member-2 row">
    <div class="col-md-6 member-image">
		            <img src="{% static 'page/images/IM2.jpg' %}" alt="live the sweet life"/>
		    </div>
    <div class="col-md-6 member-info">
		            <h5 class="title nd-font pri-color">- about us -</h5>
				            <h2 class="name nd-font">live the sweet life</h2>
				            <p class="biography">Simple.. We are a family that offers ice cream simply as it should be.. <br> are distinguished by offering mini waffles and mini pancakes.. <br> strive to provide everything new in the world of ice cream and sweets.. <br> It was a dream and became a reality.. <br>
                                Thanks to God first and then your support.  And for your trust, we made this platform for easy access to us and the selection of our products.</p>
						            


		    </div>
</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1489637621459 vc_row-has-fill"><div class="bg-center wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill"><div class="vc_column-inner vc_custom_1488122361781"><div class="wpb_wrapper"><a class="insight-link-box" href="https://instagram.com/simple.ice.cream?igshid=YmMyMTA2M2Y=" target="_blank">
    <div class="inner">
        <div class="text">
			<h6>Follow us on</h6><h4>instagram</h4><h5 class="nd-font pri-color">@simple.ice.cream</h5>        </div>
    </div>
</a>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
    </div>
</article><!-- #post-## -->
            </div>
			        </div>
    </div>
</div><!-- /.content -->
   
					                    



</body>
</html>

		
{% endblock %}