{% extends 'base.html' %}


{% load static %}

{% block content %}

<div id="content" class="content">
    <div class="container">
        <div id="primary" class="content-area row">
			            <div
                    class="col-md-12">
				
<article id="post-163" class="post-163 page type-page status-publish hentry">
   <div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">

</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix" style="background-color: white;"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid text-center vc_custom_1489637278429 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-0 vc_col-md-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_custom_1489636554256 text-center insight-title has-bg text-uppercase font-primary font-40 ofw-900 ofs-normal" style="background-color: white;">
    <h2 class="main-title">Leave us a message</h2>
	        <div class="sub-title primary-color">
			-eat simple, be happy-        </div>
	</div>
<div class="vc_empty_space"   style="height: 40px"><span class="vc_empty_space_inner"></span></div><div role="form" class="wpcf7" id="wpcf7-f5-p163-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/visit-us/#wpcf7-f5-p163-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init" style="background-color: #e6f7ff;">
<div style="display: none;" >
<input type="hidden" name="_wpcf7" value="5" />
<input type="hidden" name="_wpcf7_version" value="5.3.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p163-o1" />
<input type="hidden" name="_wpcf7_container_post" value="163" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<p><label> Your Name (required)<br />
    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </label></p>
<p><label> Your Email (required)<br />
    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </label></p>
<p><label> Subject<br />
    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </label></p>
<p><label> Your Message<br />
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label></p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
<div class="wpcf7-response-output" aria-hidden="true"></div></form></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
    </div>
</article><!-- #post-## -->
            </div>
			        </div>
    </div>
</div><!-- /.content -->
{% endblock %}