{% extends 'base.html' %}


{% load static %}

{% block content %}

<div id="content" class="content">
    <div class="container">
        <div id="primary" class="content-area row">
			            <div
                    class="col-md-12">
				
<article id="post-163" class="post-163 page type-page status-publish hentry">
   <div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">

</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix" style="background-color: white;"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid text-center vc_custom_1489637278429 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-0 vc_col-md-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_custom_1489636554256 text-center insight-title has-bg text-uppercase font-primary font-40 ofw-900 ofs-normal" style="background-color: white;">
    <h2 class="main-title">Leave us a message</h2>
	        <div class="sub-title primary-color">
			-eat simple, be happy-        </div>
	</div>
    <form id="fcf-form-id" class="fcf-form-class" method="post" style="background-color: white;">
        {% csrf_token %}
        <div class="fcf-form-group">
            <label for="Name" class="fcf-label"> Name:</label>
            <div class="fcf-input-group">
                <input type="text" id="Name" name="Name" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="Email" class="fcf-label"> Email Address:</label>
            <div class="fcf-input-group">
                <input type="email" id="Email" name="Email" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="Message" class="fcf-label"> Message:</label>
            <div class="fcf-input-group">
                <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
            </div>
        </div>

        <div class="fcf-form-group">
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
        </div>
        <div class="wpcf7-response-output" aria-hidden="true"></div></form></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
    </div>

     

    </form>
    </div>

</div>

</body>
</html>


{% endblock %}