{% extends 'base.html' %}


{% load static %}

{% block content %}

<div id="content" class="content">
    <div class="container">
        <div id="primary" class="content-area row">
			            <div
                    class="col-md-12">
				
<article id="post-872" class="post-872 page type-page status-publish hentry">

	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_rounded  vc_box_border_grey"><img width="1500" height="600" src="{% static 'page/images/IMG_7199.jpg' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="{% static 'page/images/IMG_7199.jpg' %} 1350w, {% static 'page/images/IMG_7199.jpg' %} 300w" sizes="(max-width: 1350px) 100vw, 1350px" /></div>
		</figure>
	</div>
</div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid relative-visible"><div class="static-visible wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<div class="vc_custom_1581496892312 insight-about3">
    <div class="row">
        <div class="wpb_text_column wpb_content_element " style="background-color: white;" >
            <div class="wpb_wrapper">
                <div class="cake-style text-center insight-title text-uppercase font-primary font-40 ofw-400 ofs-normal">
        <h2 class="main-title">ICE CREAM Completes ME </h2>
        </div>
    <script id='custom-style-628efee014ae0' type='text/javascript'>(function($) {$(document).ready(function() {$("head").append("<style>#heading-628efee014acf{color: #333333;line-height: 48px;text-align: center;font-family:Raleway;font-weight:300;font-style:normal;font-weight: 400;text-transform: none;letter-spacing: 0.1em}</style>");});})(jQuery);</script><h2 id="heading-628efee014acf" class="vc_custom_heading nd-font ofs-italic vc_custom_1581382706597"><a href="{% url 'meenu' %}">You dream it, we create it</a></h2>    <div class="insight-flower-button insight-align-center insight-flower-button-white">
            <a href="{% url 'meenu' %}" target=""
               rel="">
               SHOP NOW </a>
        </div>
    
            </div>
        </div>
        <div class="col-md-7 image1" style="text-align: right;">
			                <img src="{% static 'page/images/home.jpg' %}" width=700/>
			            <div class="about3-quote" style="text-align: center;">
                <div class="about3-quote-text nd-font" style="background-color: white; text-align: right;">
					We invite you to visit our <strong>simple ice cream shop</strong> in Madinah, you will freshen up all your senses and feel delighted with our deliciously wonderful various sweets. Have an unforgettable special experience with us at simple!  </div>
                <div class="image3">
					                </div>
								
            </div>
        </div>
    </div>
</div>

	<div  class="wpb_single_image wpb_content_element vc_align_right   absolute-object1">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"></div>
		</figure>
	</div>

		</div>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1480502329904"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " style="background-color: white;">
		<div class="wpb_wrapper">
			<div class="cake-style text-center insight-title has-line text-uppercase font-primary font-40 ofw-400 ofs-normal">
    <h2 class="main-title">Delightful Ice Cream Flavors</h2> 
	        <div class="sub-title primary-color">
			-Visit us at Simple Shop-        </div>
	</div>
    <br>
    <br>


    <div  class="wpb_single_image wpb_content_element vc_align_center" style="background-color: white;">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_rounded  vc_box_border_grey"><img width="1350" height="650" src="{% static 'page/images/IMG_7200.jpg' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="{% static 'page/images/IMG_7200.jpg' %} 1350w, {% static 'page/images/IMG_7200.jpg' %} 300w" sizes="(max-width: 1350px) 100vw, 1350px" /></div>
		</figure>
	</div>

		</div>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
    </div>
</article><!-- #post-## -->
            </div>
			        </div>
    </div>
</div><!-- /.content -->
    
{% endblock %}