

		{% extends 'base.html' %}


{% load static %}

{% block content %}

<div id="content" class="content">
    <div class="container">
        <div id="primary" class="content-area row">
			            <div
                    class="col-md-12">
				
<article id="post-13796" class="post-13796 page type-page status-publish hentry">
    <div class="entry-content">
		
<figure style="background-color: white;" class="wp-block-image size-large"><a href="" target="_blank" rel="noopener">
    
    </a></figure>


    <div class="wpb_wrapper" style="background-color:white;">
        <div class="cake-style text-center insight-title text-uppercase font-primary font-40 ofw-400 ofs-normal">
  <h2 class="main-title">Always save room for Ice Cream</h2>
  
  </div>
<div class="insight-flower-button insight-align-center insight-flower-button-white"> <br> <br>
    <h5> SHOP NOW </h5>
    <br>
  </div>
  
    </div>

<div class="wp-block-group"><div class="wp-block-group__inner-container">
<figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid">
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/11.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/12.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/13.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/14.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/15.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/16.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/17.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/18.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/19.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/20.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/21.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/22.JPG' %}" alt=""  sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
                
            
       </ul>
</figure> 
       
    </div></div>



<h5 class="has-text-align-center"><strong>Life is like ice cream, enjoy it before it melts </strong></h5>



<div class="wp-block-columns">
<div class="wp-block-column"> </div>
</div>



<div class="wp-block-columns">
<div class="wp-block-column"></div>



<div class="wp-block-column"></div>
</div>



<p>&nbsp;</p>
    </div>
</article><!-- #post-## -->
            </div>
			        </div>
    </div>
</div><!-- /.content -->

{% endblock %}
