{% extends 'base.html' %}


{% load static %}

{% block content %}

<div id="content" class="content">
    <div class="container">
        <div id="primary" class="content-area row">
			            <div
                    class="col-md-12">
				
<article id="post-13796" class="post-13796 page type-page status-publish hentry">
    <div class="entry-content">
		
<figure style="background-color: white;" class="wp-block-image size-large"><a href="" target="_blank" rel="noopener">
    
    </a></figure>



<p class="has-text-align-center"><strong>PREORDER ONLINE FOR SAME DAY PICK UP (OR FUTURE ORDERS) AT DOTS FAIR OAKS AT</strong>: <a href="#">www.ORDERDOTSCUPCAKES.com </a></p>



<p class="has-text-align-center"><strong>FOR DELIVERY OPTIONS, FIND US ON <a href="#">DOORDASH</a> &amp; <a href="#">POSTMATES</a></strong></p>



<div class="wp-block-group"><div class="wp-block-group__inner-container">
<figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid">
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/1.JPG' %}" alt="" data-id="13958" data-full-url="{% static 'page/images/1.JPG' %}" class="wp-image-13958" srcset="{% static 'page/images/1.JPG' %} 1024w, {% static 'page/images/1.JPG' %} 300w, {% static 'page/images/1.JPG' %} 150w, {% static 'page/images/1.JPG' %} 768w, {% static 'page/images/1.JPG' %} 80w, {% static 'page/images/1.JPG' %} 420w, {% static 'page/images/1.JPG' %} 630w, {% static 'page/images/1.JPG' %} 100w, {% static 'page/images/1.JPG' %} 600w, {% static 'page/images/1.JPG' %} 96w, {% static 'page/images/1.JPG' %} 460w, {% static 'page/images/1.JPG' %} 1080w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/2.JPG' %}" alt="" data-id="13971" data-full-url="{% static 'page/images/2.JPG' %}" class="wp-image-13971" srcset="{% static 'page/images/2.JPG' %} 1024w, {% static 'page/images/2.JPG' %} 300w, {% static 'page/images/2.JPG' %} 150w, {% static 'page/images/2.JPG' %} 768w, {% static 'page/images/2.JPG' %} 80w, {% static 'page/images/2.JPG' %} 420w, {% static 'page/images/2.JPG' %} 630w, {% static 'page/images/2.JPG' %} 100w, {% static 'page/images/2.JPG' %} 600w, {% static 'page/images/2.JPG' %} 96w, {% static 'page/images/2.JPG' %} 460w, {% static 'page/images/2.JPG' %}1080w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/3.JPG' %}" alt="" data-id="13966" data-full-url="{% static 'page/images/3.JPG' %}" class="wp-image-13966" srcset="{% static 'page/images/3.JPG' %} 1024w, {% static 'page/images/3.JPG' %} 300w, {% static 'page/images/3.JPG' %} 150w, {% static 'page/images/3.JPG' %} 768w, {% static 'page/images/3.JPG' %} 80w, {% static 'page/images/3.JPG' %} 420w, {% static 'page/images/3.JPG' %} 630w, {% static 'page/images/3.JPG' %} 100w, {% static 'page/images/3.JPG' %} 600w, {% static 'page/images/3.JPG' %} 96w, {% static 'page/images/3.JPG' %} 460w, {% static 'page/images/3.JPG' %} 1080w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/4.JPG' %}" alt="" data-id="13958" data-full-url="{% static 'page/images/4.JPG' %}" class="wp-image-13958" srcset="{% static 'page/images/4.JPG' %} 1024w, {% static 'page/images/4.JPG' %} 300w, {% static 'page/images/4.JPG' %} 150w, {% static 'page/images/4.JPG' %} 768w, {% static 'page/images/4.JPG' %} 80w, {% static 'page/images/4.JPG' %} 420w, {% static 'page/images/4.JPG' %} 630w, {% static 'page/images/4.JPG' %} 100w, {% static 'page/images/4.JPG' %} 600w, {% static 'page/images/4.JPG' %} 96w, {% static 'page/images/4.JPG' %} 460w, {% static 'page/images/4.JPG' %} 1080w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/5.JPG' %}" alt="" data-id="13971" data-full-url="{% static 'page/images/5.JPG' %}" class="wp-image-13971" srcset="{% static 'page/images/5.JPG' %} 1024w, {% static 'page/images/5.JPG' %} 300w, {% static 'page/images/5.JPG' %} 150w, {% static 'page/images/5.JPG' %} 768w, {% static 'page/images/5.JPG' %} 80w, {% static 'page/images/5.JPG' %} 420w, {% static 'page/images/5.JPG' %} 630w, {% static 'page/images/5.JPG' %} 100w, {% static 'page/images/5.JPG' %} 600w, {% static 'page/images/5.JPG' %} 96w, {% static 'page/images/5.JPG' %} 460w, {% static 'page/images/5.JPG' %} 1080w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/6.JPG' %}" alt="" data-id="13966" data-full-url="{% static 'page/images/6.JPG' %}" class="wp-image-13966" srcset="{% static 'page/images/6.PNG' %} 1024w, {% static 'page/images/6.PNG' %} 300w, {% static 'page/images/6.PNG' %}150w,  {% static 'page/images/6.PNG' %} 768w, {% static 'page/images/6.PNG' %} 80w, {% static 'page/images/6.PNG' %} 420w, {% static 'page/images/6.PNG' %} 630w, {% static 'page/images/6.PNG' %} 100w, {% static 'page/images/6.PNG' %} 600w, {% static 'page/images/6.PNG' %} 96w, {% static 'page/images/6.PNG' %} 460w, {% static 'page/images/6.PNG' %} 1080w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/7.JPG' %}" alt="" data-id="13958" data-full-url="{% static 'page/images/7.JPG' %}" class="wp-image-13958" srcset="{% static 'page/images/7.JPG' %} 1024w, {% static 'page/images/7.JPG' %}300w, {% static 'page/images/7.JPG' %} 150w,  {% static 'page/images/7.JPG' %} 768w, {% static 'page/images/7.JPG' %} 80w, {% static 'page/images/7.JPG' %} 420w, {% static 'page/images/7.JPG' %} 630w, {% static 'page/images/7.JPG' %} 100w, {% static 'page/images/7.JPG' %} 600w, {% static 'page/images/7.JPG' %} 96w, {% static 'page/images/7.JPG' %} 460w, {% static 'page/images/7.JPG' %} 1080w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
    <li class="blocks-gallery-item"><figure><a href="#"><img loading="lazy" width="1024" height="1024" src="{% static 'page/images/8.JPG' %}" alt="" data-id="13971" data-full-url="{% static 'page/images/1.JPG' %}" class="wp-image-13971" srcset="{% static 'page/images/8.JPG' %} 1024w, {% static 'page/images/8.JPG' %} 300w, {% static 'page/images/8.JPG' %} 150w, {% static 'page/images/8.JPG' %} 768w, {% static 'page/images/8.JPG' %} 80w, {% static 'page/images/8.JPG' %} 420w, {% static 'page/images/8.JPG' %} 630w, {% static 'page/images/8.JPG' %} 100w, {% static 'page/images/8.JPG' %} 600w, {% static 'page/images/7.JPG' %} 96w, {% static 'page/images/8.JPG' %} 460w, {% static 'page/images/8.JPG' %} 1080w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></figure></li>
        
        
       
    </div></div>



<p class="has-text-align-center"><strong>FOR ALL CUSTOM ORDERS AND FUTURE EVENTS, PLEASE INQUIRE AT </strong><a href="mailto:dotscupcakes.arroyo@gmail.com">dotscupcakespasadena@gmail.com</a></p>



<div class="wp-block-columns">
<div class="wp-block-column"> </div>
</div>



<div class="wp-block-columns">
<div class="wp-block-column"></div>



<div class="wp-block-column"></div>
</div>



<p>&nbsp;</p>
    </div>
</article><!-- #post-## -->
            </div>
			        </div>
    </div>
</div><!-- /.content -->

{% endblock %}